*{
    font-family: 'Exo', sans-serif;
}
.nav-link:hover, .card-link:hover {
    color:#F7AC41;
}
.nav-link{
    color:#ffff;
}
html{
    background-color:#C3BEA7;
}
p{
    background-color:#D6D0B8;
    color:#615D50;
}
.col{
    background-color:#C3BEA7;
}
.row{
    background-color:#C3BEA7;
}
.bodyColor{
    background-color:#C3BEA7;
}
h3{
    background-color:#a19d8a;
    color:#fff;
}
h3{
    background-color:#a19d8a;
    color:#fff;
}
.poster{
    margin:auto;
}
.card-link{
    color:#fff;
}
@media (max-width: 768px){
    .imageEdits{
        width: 200px;
    }
  }
@media (min-width:769px){
      .imageEdits{
          height:350px;
      }  
    }
